.parentNav {
    display: grid;
    width: 100%;
    height: 12vh;
    background-color: #FFFFFF;
    grid-template-columns: 20% auto 24%;
    align-items: center;
}

.navdiv1 {
    height: 8vh;
    background-color: red;
}

.navdiv2 {
    display: flex;
    justify-content: center;
    list-style-type: none;
    gap: 8px;
}

.navdiv3 {
    height: 8vh;
    background-color: maroon;
}



@media (max-width: 768px) {
    .parentNav {
        display: flex;
        width: 100%;
        height: 12vh;
        background-color: #FFFFFF;
        align-items: center;
    }

    .navdiv1 {
        height: 8vh;
        background-color: red;
    }
    
    .navdiv2 {
        display: flex;
        justify-content: center;
        list-style-type: none;
        gap: 8px;
    }
    
    .navdiv3 {
        height: 8vh;
        background-color: maroon;
    }
}
